<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://previews.123rf.com/images/lenm/lenm1410/lenm141000190/32749260-mascot-illustration-featuring-a-potted-basil-plant-giving-a-thumbs-up.jpg" OpenBasil>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Roboto|Nanum+Gothic|Maven+Pro|Patua+One" rel="stylesheet">
    <title>OpenBasil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
