<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="http://brand.opentable.com/wp-content/uploads/2015/03/OTLogo_rationalizationhor-r1c-01.png" OpenBasil>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Roboto|Nanum+Gothic|Maven+Pro|Patua+One" rel="stylesheet">
    <title>OpenBasil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
